/autostart
/chromium
/Code
/configstore
/dconf
/figma-linux
/flameshot
/gnome-session
/google-chrome
/gtk-2.0
/gtk-3.0
/htop
/ibus
/libfm
/libreoffice
/nautilus
/neofetch
/obs-studio
/pamac
/pcmanfm
/Postman
/pulse
/session
/Thunar
/Virtualbox

